* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
}

section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  position: absolute;
  margin: 1rem;
  z-index: 2;
}

/* use over display: none and display: block for accessibility purposes */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
